

    <!-- Filter input -->
    <label for="filterInput"></label>
    <input type="text" id="filterInput" name="filterInput"  [(ngModel)]="searchTerm" (input)="filterByIdNameAndSpecialty()" placeholder="Enter ID/Name/Speciality...">
    <button type="button" (click)="filterByIdNameAndSpecialty()">Search</button>

    <!-- Display filtered data -->
    <div *ngIf="filteredData.length > 0">
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>specialty</th>
                <!-- Add more headers as needed -->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doctor of filteredData">
                <td>{{ doctor.doctorId }}</td>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.specialty }}</td>
                <!-- Add more columns as needed -->
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="filteredData.length === 0">
        No doctors found.
    </div>



